.filtr-cards_film {
    display: flex;
    /* justify-content: flex-start; */
}

.move-filter-container {
    flex: 1; /* Размер блока MoveFilter будет растягиваться, чтобы занять всю доступную высоту */
    max-width: 400px; /* Задайте желаемую максимальную ширину блока MoveFilter */
}

  
.cards-container {
    flex: 1;  /*Контейнер с карточками тоже будет растягиваться, чтобы занять всю доступную высоту */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /* Карточки будут переноситься на новую строку при необходимости */
    flex-basis: 30%;  /*Задайте желаемую ширину каждой карточки, например, 30% от контейнера */
    margin: 30px; /* Задайте желаемое расстояние между карточками */
}